.article{
    width: 100%;
    overflow: hidden;
}
article h3 {
    text-align: center;
    font-size: 20px!important;
    font-weight: bold!important;
    padding: 15px 0!important;
    margin-bottom: 20px!important;
    line-height: 30px!important;
}
.post-line {
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
}
.bg-color{
    background: rgba(255, 255, 255, 0.5);
}
.post-line ul {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post-line ul li{
    display: inline;
}
.post-line ul li a{
    display: inline-block;
    margin: 0 5px;
    font-size: 12px;
}
.article-content{
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}
.markdown-body {
    line-height: 2;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 14px;
    word-wrap: break-word;
    color: #555;
    background: #f5f7f9;
}
.markdown-body p{
    margin-top: 0;
    margin-bottom: 16px;
    margin-left: 2rem;
}
.markdown-body code {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: auto 3px;
    font-size: 85%;
    background-color: moccasin;
    border-radius: 3px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.markdown-body * {
    box-sizing: border-box;
}
pre.code-toolbar {
    position: relative;
}
pre[class*="language-"] {
    padding: 1em;
    overflow: auto;
    border: 0.3em solid hsl(30, 20%, 40%);
    border-radius: 0.5em;
    box-shadow: 1px 1px 0.5em black inset;
    background: hsl(30, 20%, 25%);
    color: white;
    text-shadow: 0 -0.1em 0.2em black;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
    font-size: 85%;
}
body pre {
    margin-top: 0;
    margin-bottom: 16px;
    margin-left: 2rem;
}
.markdown-body pre code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}
.article-fx {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    position: relative;
}
.article-fx a {
    font-size: 14px;
    background: #1dd06d;
    color: #fff;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
}
.img-circle {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}
#cyReward{
    text-align: center;
}
#cyReward  {
    width: 134px;
    height: 49px;
    display: inline-block;
    background-color: red;
    line-height: 49px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    font-weight: 900;
}
hr {
    width: 90%;
    margin: 20px auto;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid rgba(255,255,255,0.8);
}
hr {
    width: 90%;
    margin: 20px auto;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid rgba(255,255,255,0.8);
}
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
}
.article_tag {
    width: 100%;
    margin: auto;
    padding: 10px 0;
    margin-bottom: 30px;
    background: rgba(255,255,255,0);
    overflow: hidden;
}
.article_tag ul {
    margin: auto 0;
    clear: both;
    text-align: center;
    float: none;
}
.article_tag ul li:nth-of-type(1) {
    background: #4595e7;
}
.article_tag ul li:nth-of-type(2) {
    background: #e7458d;
}
.article_tag ul li {
    display: inline;
    font-size: 12px;
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
}
#cyEmoji {
    background-color: transparent;
    border: 0;
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: auto;
    line-height: 1.4;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100%;
    font-size: 14px;
}
 .emoji-tip {
    border-bottom: 1px solid #e6e6e6;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    height: 26px;
    line-height: 26px;
    padding: 5px 0;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
.emoji-list {
    text-align: center;
    list-style: none;
    margin: 0 0 24px 0;
    overflow: hidden;
    padding: 10px 0 0 0;
    white-space: nowrap;
    width: 100%;
}
.emoji-item:hover{
    /* border: 1px solid #eee; */
    /* border-radius: 4px; */
    box-shadow: 0 0 10px #000;
}
#cyEmoji .emoji-item {
    cursor: pointer;
    display: inline;
    padding: 10px 0;
    margin: 3px 0;
    position: relative;
    text-align: center;
    float: left;
    height: auto;
    background: none;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
#cyEmoji .emoji-name {
    display: block;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 7px 0 0;
}
#cyEmoji .emoji-num {
    color: #c33;
    display: block;
    font-family: "Microsoft YaHei";
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

.form-btn {
    font-size: 18px;
    font-weight: normal;
    padding: 15px 0!important;
    margin-top: 30px;
}